{% extends 'base.html' %}

{% block home_nav_el %}active{% endblock %}

{% block content %}
    <br>
    <h3>Веб-приложение для работы с рекомендательными моделями</h3>
    <p>Данное веб-приложение предоставляет инструменты для создания моделей рекомендательных систем.</p>
    <br>

    <h5>Основные возможности</h5>
    <ul>
        <li>Сбор данных для построеня индекса врачей</li>
        <li>Сбор данных для обучения моделей CatBoost</li>
        <li>Сбор данных для тестирования</li>
        <li>Тренировка моделей и хранение результатов</li>
        <li>Тестирование моделей и хранение результатов</li>
        <li>Отслеживание процессов в реальном времени</li>
    </ul>
    <br>
    <p>На странице <a href="{{ url_for('dataset.main') }}">создания датасетов</a> меется функционал для параметризации собираемых данных.</p>
    <p>На странице <a href="{{ url_for('train.main') }}">тренировки моделей</a> есть возможность указать параметры которые будут учитываться при тренировке.</p>
    <p>На странице <a href="{{ url_for('test.main') }}">тестирования</a> можно проверить эффективность разработанных ранее моделей.</p>
{% endblock %}
