.navbar {
    background-color: #e3f2fd;
}

.content {
    margin-inline: 20px;
}

h1 {
    color: cornflowerblue;
}

.progress {
    max-width: 500px;
}


table {
  width: 100%;
}

table th, table td {
    border-bottom: 1px solid black;
    padding: 5px 0;
}
