{% extends 'base.html' %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js" integrity="sha256-uVEHWRIr846/vAdLJeybWxjPNStREzOlqLMXjW/Saeo=" crossorigin="anonymous"></script>
{% endblock %}

{% block train_nav_el %}active{% endblock %}

{% block content %}
    <br><br>
    {% if active_train %}
        <table>
            <tr>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>
                <th>Delete</th>
            </tr>
            <tr>
                <td><span  title="{{ active_train.path }}">{{ active_train.name }}</span></td>
                <td>{{ active_train.dt_start }}</td>
                <td>{{ active_train.dt_end }}</td>
                <td>
                    {% if active_train.status == active_train.status.end %}
                        <span class="badge bg-success">{{ active_train.status.name }}</span>
                    {% elif active_train.status == active_train.status.fail %}
                        <span class="badge bg-danger">{{ active_train.status.name }}</span>
                    {% elif active_train.status == active_train.status.train %}
                        <span class="badge bg-primary">{{ active_train.status.name }}</span>
                    {% else %}
                        <span class="badge bg-info text-dark">{{ active_train.status.name }}</span>
                    {% endif %}
                </td>
                <td>
                    <form action="{{ url_for('train.delete') }}" method="post">
                        <input type="hidden" name="train_id" value="{{ active_train.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        </table>
        <br>
        <div style="text-align: center">
            {% if active_train.status == active_train.status.train %}
                <h3>Обучение...</h3>
                <canvas id="speedChart" width="200" height="100"></canvas>
            {% elif active_train.status in (active_train.status.loading,  active_train.status.prepare) %}
                <h3>Подготовка данных...</h3>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        <form action="{{ url_for('train.start_train') }}" method="post" class="row g-3">
            <div class="col-4">
                <label for="inputName" class="form-label">Название</label>
                <input type="text" class="form-control" id="inputName" placeholder="train name">
            </div>

            <fieldset class="train-params row g-3">
                <legend>Train params</legend>
                <div class="col-md-6">
                    <label class="form-label" for="dataset-select">Dataset</label>
                    <select class="form-select" id="dataset-select" name="dataset">
                        {% for dataset in datasets %}
                            <option value="{{ dataset.id }}">{{ dataset.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="iter-count">Кол-во итераций</label>
                    <input type="number" value="2000" id="iter-count" class="form-control" min="1">
                    <div class="col-md-9"></div>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="random-seed">Random seed</label>
                    <input type="number" value="0" id="random-seed" class="form-control">
                    <div class="col-md-9"></div>
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="loss-function">Функция потерь</label>
                    <select class="form-select" id="loss-function" name="dataset">
                        <option selected value="QuerySoftMax">QuerySoftMax</option>
                        <option value="RMSE">RMSE</option>
                        <option value="QueryRMSE">QueryRMSE</option>
                        <option value="PairLogit">PairLogit</option>
                        <option value="PairLogitPairwise">PairLogitPairwise</option>
                        <option value="YetiRank">YetiRank</option>
                        <option value="YetiRankPairwise">YetiRankPairwise</option>
                    </select>
                </div>

                <div class="col-12">
                    <div class="form-check">
                        <label class="form-check-label" for="use_best_model">Использовать лучшую модель</label>
                        <input type="checkbox" id="use_best_model" class="form-check-input" name="use_best_model">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <label class="form-check-label" for="verbose-param">Подробный отчет</label>
                        <input type="checkbox" checked id="verbose-param" class="form-check-input" name="verbose-param">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <label class="form-check-label" for="plot-param">Рисовать график</label>
                        <input type="checkbox" checked id="plot-param" class="form-check-input" name="plot-param">
                    </div>
                </div>

            </fieldset>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Тренировать</button>
                <div class="col-md-10"></div>
            </div>
        </form>
    {% endif %}

    <br><br>

    <h2>Архив</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
            <th>Delete</th>
        </tr>
        {% for train_model in train_models %}
            <tr>
                <td><span  title="{{ train_model.path }}">{{ train_model.name }}</span></td>
                <td>{{ train_model.dt_start }}</td>
                <td>{{ train_model.dt_end }}</td>
                <td>
                    {% if train_model.status == train_model.status.end %}
                        <span class="badge bg-success">{{ train_model.status.name }}</span>
                    {% elif train_model.status == train_model.status.fail %}
                        <span class="badge bg-danger">{{ train_model.status.name }}</span>
                    {% elif train_model.status == train_model.status.train %}
                        <span class="badge bg-primary">{{ train_model.status.name }}</span>
                    {% else %}
                        <span class="badge bg-info text-dark">{{ train_model.status.name }}</span>
                    {% endif %}
                </td>
                <td>
                    <form action="{{ url_for('train.delete') }}" method="post">
                        <input type="hidden" name="train_id" value="{{ train_model.id }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br><br>
{% endblock %}

<script>
{% block scripts %}
    function getChart() {
        let speedData = {
            labels: [],
            datasets: [
                {
                    label: "Test",
                    data: [],
                    lineTension: 0,
                    borderWidth: 2,
                    radius: 0,
                    fill: true,
                    borderColor: 'red'
                },
                {
                    label: "Train",
                    data: [],
                    lineTension: 0,
                    borderWidth: 2,
                    radius: 0,
                    fill: true,
                    borderColor: 'blue'
                }
            ]
        };

        let chartOptions = {
            legend: {
                display: true,
                position: 'top',
                labels: {
                    boxWidth: 80,
                    fontColor: 'black'
                }
            },
        };

        return new Chart(document.getElementById("speedChart"), {
            type: 'line',
            data: speedData,
            options: chartOptions
        });
    }

    async function getNextSlice(index) {
        try {
            let response = await fetch(`{{ url_for('train.chart') }}?index=${index}&train_id={{ active_train.id }}`);
            return await response.json();
        } catch (err) {
            return [];
        }
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    document.addEventListener("DOMContentLoaded", async function () {
        if (document.getElementById("speedChart") === null) return;

        let data;
        let index = 0;
        let chart = getChart();
        let tries = 0;

        while (true) {
            data = await getNextSlice(index);
            if (data.length === 0) {
                tries++;
                if (tries > 4) return;
                await sleep(3000);
                continue
            }
            tries = 0;

            data.forEach((element) => {
                chart.data.labels.push(element.iteration);
                chart.data.datasets[0].data.push(element.learn[0]);
                chart.data.datasets[1].data.push(element.test[0]);
                index++;
            })
            chart.update();
            await sleep(2000);
        }

    });
{% endblock %}
</script>
